@import url(https://fonts.googleapis.com/css?family=Lora:400,400italic,700italic,700);
/* line 1, ../../../components/app/logo/_logo.scss */
.logo-container {
  display: table-cell;
  height: 100%;
  padding: 0 50px;
  text-align: right;
  vertical-align: middle;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 1, ../../../components/app/logo/_logo.scss */
  .logo-container {
    box-sizing: border-box;
    display: block;
    height: 190px;
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  /* line 1, ../../../components/app/logo/_logo.scss */
  .logo-container {
    padding-top: 10px;
  }
}

/* line 23, ../../../components/app/logo/_logo.scss */
.logo {
  max-width: 500px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 23, ../../../components/app/logo/_logo.scss */
  .logo {
    height: 100%;
    max-height: 200px;
    max-width: 200px;
  }
}
@media screen and (max-width: 360px) {
  /* line 23, ../../../components/app/logo/_logo.scss */
  .logo {
    height: 100%;
    max-height: 180px;
    max-width: 180px;
  }
}

/* line 1, ../../../components/app/button/_button.scss */
.button {
  background-color: #00a651;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.3rem;
  height: 40px;
  outline: none;
  overflow: visible;
  padding: 0 6px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  vertical-align: top;
}
/* line 20, ../../../components/app/button/_button.scss */
.button:hover, .button:focus {
  background-color: #007338;
}
/* line 25, ../../../components/app/button/_button.scss */
.button:active {
  outline: none;
  padding: 0 6px;
  transform: scale(0.95);
}

/* line 1, ../../../components/app/login/_login.scss */
.login {
  background-color: rgba(0, 0, 0, 0.4);
  display: table-cell;
  max-height: 100%;
  padding: 50px;
  vertical-align: middle;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 1, ../../../components/app/login/_login.scss */
  .login {
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    padding: 10px 30px 0;
    text-align: center;
    width: 100%;
  }
}

/* line 19, ../../../components/app/login/_login.scss */
.login-form-container {
  box-sizing: border-box;
  margin: 0 0 15px;
  max-width: 370px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 19, ../../../components/app/login/_login.scss */
  .login-form-container {
    display: inline-block;
    max-width: 300px;
  }
}

/* line 31, ../../../components/app/login/_login.scss */
.login-heading {
  font-style: italic;
}
@media screen and (max-width: 768px) {
  /* line 31, ../../../components/app/login/_login.scss */
  .login-heading {
    text-align: center;
  }
}
@media screen and (max-width: 360px) {
  /* line 31, ../../../components/app/login/_login.scss */
  .login-heading {
    display: none;
  }
}

/* line 43, ../../../components/app/login/_login.scss */
.login-form {
  width: 100%;
}

/* line 47, ../../../components/app/login/_login.scss */
.login-input-label {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 10px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 47, ../../../components/app/login/_login.scss */
  .login-input-label {
    display: block;
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
  }
}

/* line 61, ../../../components/app/login/_login.scss */
.login-input {
  border: #fff solid 2px;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-size: 1.4rem;
  height: 40px;
  margin: 5px 0;
  overflow: hidden;
  padding: 0 5px 2px;
  width: 100%;
}
/* line 73, ../../../components/app/login/_login.scss */
.login-input:focus {
  border: #00a651 solid 2px;
  outline: 0;
  outline-offset: 0;
}
/* line 78, ../../../components/app/login/_login.scss */
.login-input:focus:invalid {
  border: #e30613 solid 2px;
}
/* line 83, ../../../components/app/login/_login.scss */
.login-input:invalid {
  box-shadow: none;
}

/* line 88, ../../../components/app/login/_login.scss */
.login-input-username {
  margin-bottom: 30px;
}
@media screen and (max-width: 360px) {
  /* line 88, ../../../components/app/login/_login.scss */
  .login-input-username {
    margin-bottom: 15px;
  }
}

/* line 96, ../../../components/app/login/_login.scss */
.login-link {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
/* line 101, ../../../components/app/login/_login.scss */
.login-link:hover, .login-linkfocus {
  color: #00d96a;
  text-decoration: underline;
}

/* line 108, ../../../components/app/login/_login.scss */
.login-forgot {
  box-sizing: border-box;
  margin-top: 40px;
}

/* line 113, ../../../components/app/login/_login.scss */
.login-button {
  border: 0;
  clear: both;
  float: right;
  margin-top: 30px;
  width: 130px;
}

/* line 121, ../../../components/app/login/_login.scss */
.login-error {
  background-color: #e30613;
  border-radius: 3px;
  color: #fff;
  display: none;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
}

/* line 3, ../../../components/app/common/_common.scss */
html {
  font-family: 'Lora', serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 10, ../../../components/app/common/_common.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

/* line 18, ../../../components/app/common/_common.scss */
.body-login {
  background-attachment: fixed;
  background-image: url("../../img/bg_login.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 26, ../../../components/app/common/_common.scss */
.main-login {
  display: table;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  /* line 26, ../../../components/app/common/_common.scss */
  .main-login {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100%;
  }
}

/* line 37, ../../../components/app/common/_common.scss */
.body-content {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 20px 40px;
  position: absolute;
  top: 0;
}
@media (max-width: 1200px) {
  /* line 37, ../../../components/app/common/_common.scss */
  .body-content {
    padding: 0;
  }
}

/* line 49, ../../../components/app/common/_common.scss */
.main-content {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.23);
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  width: 100%;
}
@media (max-width: 1280px) {
  /* line 49, ../../../components/app/common/_common.scss */
  .main-content {
    max-width: 1120px;
  }
}
@media (max-width: 1200px) {
  /* line 49, ../../../components/app/common/_common.scss */
  .main-content {
    border-radius: 0;
    box-shadow: none;
    max-width: 1200px;
  }
}

/* line 70, ../../../components/app/common/_common.scss */
.heading {
  color: #fff;
  font-size: 3rem;
  font-weight: normal;
  line-height: 3.2rem;
  margin-top: 0;
  padding-top: 0;
}
@media (max-width: 768px) {
  /* line 70, ../../../components/app/common/_common.scss */
  .heading {
    font-size: 2rem;
    line-height: 2.1rem;
  }
}

/* line 1, ../../../components/app/navigation/_navigation.scss */
.navigation {
  background-color: #00a651;
  box-sizing: border-box;
  height: 70px;
  padding: 10px 15px;
  width: 100%;
}

/* line 9, ../../../components/app/navigation/_navigation.scss */
.avatar {
  border-radius: 50%;
  height: 50px;
  overflow: hidden;
  width: 50px;
}

/* line 16, ../../../components/app/navigation/_navigation.scss */
.avatar-nav {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 0;
}

/* line 23, ../../../components/app/navigation/_navigation.scss */
.nav-user {
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  margin: -2px 0 0;
  padding: 0 5px;
}
/* line 30, ../../../components/app/navigation/_navigation.scss */
.nav-user p {
  font-size: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}
/* line 36, ../../../components/app/navigation/_navigation.scss */
.nav-user p .subline {
  font-size: 22px;
}

/*# sourceMappingURL=gentklub.css.map */
