@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);
/* line 1, ../../../components/app/logo/_logo.scss */
.logo-container {
  display: table-cell;
  height: 100%;
  padding: 0 50px;
  text-align: right;
  vertical-align: middle;
  width: 50%;
}
/* line 9, ../../../components/app/logo/_logo.scss */
.logo-container .logo {
  max-width: 500px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 16, ../../../components/app/logo/_logo.scss */
  .logo-container {
    box-sizing: border-box;
    display: block;
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
  /* line 23, ../../../components/app/logo/_logo.scss */
  .logo-container .logo {
    height: 100%;
    max-height: 200px;
    max-width: 200px;
  }
}
@media screen and (max-width: 360px) {
  /* line 32, ../../../components/app/logo/_logo.scss */
  .logo-container {
    padding-top: 10px;
  }
  /* line 35, ../../../components/app/logo/_logo.scss */
  .logo-container .logo {
    height: 100%;
    max-height: 180px;
    max-width: 180px;
  }
}
/* line 1, ../../../components/app/button/_button.scss */
.button {
  background-color: #00a651;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Old Standart TT, serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: normal;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
}
/* line 15, ../../../components/app/button/_button.scss */
.button:hover, .button:focus {
  background-color: #007338;
}
/* line 20, ../../../components/app/button/_button.scss */
.button:active {
  outline: none;
  padding: 0 6px;
  transform: scale(0.95);
}

/* line 1, ../../../components/app/login/_login.scss */
.login {
  background-color: rgba(0, 0, 0, 0.4);
  display: table-cell;
  padding: 50px;
  vertical-align: middle;
  width: 50%;
}

/* line 9, ../../../components/app/login/_login.scss */
.login-form-container {
  box-sizing: border-box;
  margin: 0 0 15px;
  max-width: 370px;
  width: 100%;
}
/* line 15, ../../../components/app/login/_login.scss */
.login-form-container .login-heading {
  font-style: italic;
}

/* line 20, ../../../components/app/login/_login.scss */
.login-form {
  width: 100%;
}

/* line 24, ../../../components/app/login/_login.scss */
.login-input-label {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 10px;
  width: 100%;
}

/* line 31, ../../../components/app/login/_login.scss */
.login-input {
  border: 0;
  box-sizing: border-box;
  font-family: Old Standard TT, serif;
  font-size: 1.4rem;
  height: 40px;
  margin: 5px 0;
  padding: 0 5px 2px;
  width: 100%;
}
/* line 42, ../../../components/app/login/_login.scss */
.login-input:focus {
  outline: #00a651 solid 2px;
  outline-offset: 0;
}

/* line 50, ../../../components/app/login/_login.scss */
.login-input-username {
  margin-bottom: 30px;
}

/* line 54, ../../../components/app/login/_login.scss */
.login-button {
  border: 0;
  margin-top: 40px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* line 61, ../../../components/app/login/_login.scss */
  .login {
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    padding: 10px 30px 0;
    text-align: center;
    width: 100%;
  }

  /* line 70, ../../../components/app/login/_login.scss */
  .login-form-container {
    display: inline-block;
    max-width: 300px;
  }

  /* line 75, ../../../components/app/login/_login.scss */
  .login-heading {
    text-align: center;
  }

  /* line 79, ../../../components/app/login/_login.scss */
  .login-input-label {
    display: block;
    font-size: 1.2rem;
    margin: 0;
    text-align: left;
  }
}
@media screen and (max-width: 360px) {
  /* line 89, ../../../components/app/login/_login.scss */
  .login-heading {
    display: none;
  }

  /* line 93, ../../../components/app/login/_login.scss */
  .login-button {
    margin-top: 10px;
  }

  /* line 97, ../../../components/app/login/_login.scss */
  .login-input-username {
    margin-bottom: 15px;
  }
}
/* line 3, ../../../components/app/common/_common.scss */
html {
  font-family: Old Standard TT, serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
}

/* line 10, ../../../components/app/common/_common.scss */
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 17, ../../../components/app/common/_common.scss */
.body-login {
  background-attachment: fixed;
  background-image: url("../../img/bg_login.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 25, ../../../components/app/common/_common.scss */
.main-login {
  display: table;
  height: 100vh;
  width: 100%;
}
@media (max-width: 769px) {
  /* line 25, ../../../components/app/common/_common.scss */
  .main-login {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
  }
}

/* line 36, ../../../components/app/common/_common.scss */
.body-content {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  padding: 50px;
}

/* line 43, ../../../components/app/common/_common.scss */
.main-content {
  background-color: #f2f2f2;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

/* line 52, ../../../components/app/common/_common.scss */
.heading {
  color: #fff;
  font-size: 3rem;
  font-weight: normal;
  line-height: 3.2rem;
  margin-top: 0;
  padding-top: 0;
}
@media (max-width: 768px) {
  /* line 52, ../../../components/app/common/_common.scss */
  .heading {
    font-size: 2rem;
    line-height: 2.1rem;
  }
}

/*# sourceMappingURL=gentklub.css.map */
